Repository voxpupuli/puppet-ipset, pull requests merged in 2021-04, with the labels that each got.

#48 Disable CentOS 8 support
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
  data/RedHat-6.yaml
  metadata.json
Labels: backwards-incompatible

#38 modulesync 4.1.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
  .pmtignore
  .travis.yml
  Dockerfile
  Gemfile
  Rakefile
Labels: modulesync, tests-fail

#42 add 'sets' hash to configure 'ipset::set' resource via Hiera
  manifests/init.pp
  spec/classes/init_spec.rb
Labels: enhancement
