Repository voxpupuli/puppet-ipset, pull requests merged in 2021-12, with the labels that each got.

#57 modulesync 5.1.0
  .msync.yml
  .puppet-lint.rc
  .sync.yml
  Gemfile
  Rakefile
Labels: modulesync

#58 modulesync 5.1.0
  Gemfile
Labels: modulesync

#60 use 'content' instead of 'source' to increase performance
  manifests/init.pp
Labels: enhancement

#61 Release 2.1.0
  CHANGELOG.md
  README.md
  REFERENCE.md
  metadata.json
Labels: skip-changelog
