Repository voxpupuli/puppet-ipset, pull requests merged in 2024-02, with the labels that each got.

#97 modulesync 7.3.0
  .github/workflows/ci.yml
  .msync.yml
Labels: modulesync

#88 Add Puppet 8 support
  metadata.json
Labels: enhancement

#98 Release 4.2.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
